<div class="menu">
  <div class="top-menu">
    <a routerLink="/app" routerLinkActive="active">Início</a>
    <button (click)="logout()" class="logout-btn">Sair</button>
  </div>

  <div class="dropdown">
    <div class="dropdown-btn">Dispositivo</div>
    <div class="dropdown-content">
      <a routerLink="/app/calcular" routerLinkActive="active">Aparelho</a>
      <a routerLink="/app/resultados" routerLinkActive="active">Resultados</a>
      <a routerLink="/app/monitoramento" routerLinkActive="active">Gráficos</a>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-btn">Contador</div>
    <div class="dropdown-content">
      <a routerLink="/app/consumo-mensal-calcular" routerLinkActive="active">Cadastrar Consumo</a>
      <a routerLink="/app/consumo-mensal-listar" routerLinkActive="active">Resultados</a>
      <a routerLink="/app/grafico-contador" routerLinkActive="active">Gráficos</a>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-btn">Leitor OCR</div>
    <div class="dropdown-content">
      <a routerLink="/app/upload" routerLinkActive="active">Upload Imagem</a>
      <a routerLink="/app/leituras" routerLinkActive="active">Lista Leituras</a>
    </div>
  </div>

  <div class="dropdown">
    <div class="dropdown-btn">Leitor DOC</div>
    <div class="dropdown-content">
      <a routerLink="/app/upload-documento" routerLinkActive="active">Upload DOC</a>
      <a routerLink="/app/resultados-documento" routerLinkActive="active">Resultado DOC</a>
    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
